/* Definições gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
  }
  
  /* Cabeçalho */
  header {
    background-color: #333;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

nav{
  color: white;
  font-weight: bold;
  background-color: #333;
}

nav a{
  color: white;
  text-decoration: none;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  transition: background-color 0.5s ease;
}

nav a:hover{
  color: #bcbcbc;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 20px;
  color: white;
  text-decoration: none;
}
  
h1 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    color: #ffffff;
  }

  /* Serviços */
  .servicos-banho {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
    background-image: url(/img/estabelecimento.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .servicos-banho h2 {
    font-size: 50px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .servicos-banho p {
    font-size: 18px;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-weight: bold;
  }
  
  .servicos-banho ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-bottom: 50px;

  }
  
  .servicos-banho li {
    font-size: 18px;
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: bold;
  }
  
  /* Galeria de fotos */
  .galeria {
    padding: 50px;
    text-align: center;
  }
  
  .galeria h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #0088cc;
  }
  
  .imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .imagens img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
  }
  
  /* Agendamento */
  .agendamento {
    padding: 10%;
    background-color: #ffffff;
    text-align: center;
  }

  .borda-agendamento{
    background-color: #5c5c5c;
    padding: 80px;
  }
  
  .agendamento h2 {
    font-size: 37px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .agendamento p {
    font-size: 20px;
    margin-bottom: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-weight: bold;
  }
  
  .botao {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    padding: 10;
    font-size: 20px;
    color: white;
    width: 100px;
    background-color: #A31CCC;
    border-radius: 3px;
    transition: background-color 0.2s ease;
  }

.botao:hover{
    background-color: #62107b;
}  

/* Estilos para a seção de serviços */
  
.servicos-rodape {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    background-color: #eaccff;
}
  
.servico {
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 300px;
    height: 350px;
    text-decoration: none;
    background-color: #f4f4f4;
}
 
.servico a{
    text-decoration: none;
    color: black;
}

.servico:hover{
    background-color: #bcbcbc;
    transition: background-color 0.5s ease;
    
}

.servico h3 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}
  
.servico p {
    font-size: 16px;
    margin-bottom: 20px;
    text-decoration: none;
    color: black;
}

.servico img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}
  
  /* Rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    text-align: center;
    }
    
    footer p {
    margin-bottom: 20px;
    }
    

    




















    /*Estilos Hotel*/    

.header-hotel {
  background-color: #A31CCC;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

/* Estilos para o banner principal */

.banner {
  background-image: url("/img/melhor-brinquedo-para-filhote-de-cachorro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 36px;
  color: #fff;
}

.banner h2 {
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}


.banner button{
    background-color: #A31CCC;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.2s ease;
    border: none;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.banner button:hover{
  background-color: #62107b;
}

/* Estilos para a seção de serviços */

.servicos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  text-decoration: none;
}

.servico {
  margin: 20px;
  padding: 20px;
  text-align: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-decoration: none;
}

.servico a{
  text-decoration: none;
  color: black;
}

.servico:hover{
  background-color: #bcbcbc;
  transition: background-color 0.5s ease;
  
}

.servico h3 {
  font-size: 24px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.servico p {
  font-size: 16px;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
}

.servico img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 16px;
}